$titlecolor: #637575;

.title {
  color: $titlecolor;
}

.html {
  & h1 {
    font-size: 32px;
    margin-top: 1em;
  }
  & h2 {
    font-size: 24px;
    margin-top: 1em;
  }

  & p {
    font-size: 16px;
    margin-top: 2em;
  }
}
