@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme */
:root {
  --light: #fcfcfc;
  --dark: #222;
  --primary: #e0a408;
  --secondary: #45f;
  --primary-dark: #58d6e9;
  --secondary-dark: #896;

  --foreground-color: var(--light);
  --background-color: var(--dark);
  --primary-color: var(--primary);
  --secondary-color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--light);
    --background-color: var(--dark);
    --primary-color: var(--primary-dark);
    --secondary-color: var(--secondary-dark);
  }
}

.light {
  --foreground-color: var(--dark);
  --background-color: var(--light);
  --primary-color: var(--primary);
  --secondary-color: var(--secondary);
}

.dark {
  --foreground-color: var(--light);
  --background-color: var(--dark);
  --primary-color: var(--primary-dark);
  --secondary-color: var(--secondary-dark);
}

/* font-size */

/* default */
:root {
  --4xl: 2.25rem;
  --2xl: 1.5rem;
  --base: 1rem;
  --sm: 0.875rem;
}

/* tablet */
@media screen and (max-width: 1023px) {
  :root {
  }
}

/* phone */
@media screen and (max-width: 767px) {
  :root {
    --4xl: 1.5rem;
    --2xl: 1.25rem;
    --base: 0.8rem;
    --sm: 0.7rem;
  }
}

body {
  font-size: var(--p);
  color: var(--foreground-color);
  background: var(--background-color);
}
