@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #222;
  --light: #fcfcfc;
  --primary: #b63e91;
  --secondary: #45f;
  --4xl: 36px;
  --2xl: 24px;
  --lg: 18px;
  --base: 16px;
  --sm: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #fcfcfc;
    --light: #222;
    --primary: #58d6e9;
    --secondary: #896;
  }
}

/* tablet */
@media screen and (max-width: 1023px) {
  :root {
    --4xl: 32px;
    --2xl: 24px;
    --lg: 16px;
    --base: 14px;
    --sm: 12px;
  }
}

/* phone */
@media screen and (max-width: 767px) {
  :root {
    --4xl: 22px;
    --2xl: 20px;
    --lg: 16px;
    --base: 14px;
    --sm: 10px;
  }
}
